body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'ComicBoom';
  src: local('ComicBoom'), url(./fonts/ComicBoomBubbleDemo-rg44y.ttf) format('truetype');
}

@font-face {
  font-family: 'MandySketch';
  src: local('MandySketch'), url(./fonts/MandysSketch-7BBwA.ttf) format('truetype');
}